
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 style="text-align: center" class="title">Ledger Data</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <td>Disb Id </td>
                  <td>Name</td>
                  <td>Address</td>
                  <td>LoanNo</td>
                  <td>LeadNo</td>
                  <td>LoanAmount</td>
                  <td>RateOfInterest</td>
                  <td>Tenure</td>
                  <td>Emi Amount</td>
                  <td>Status</td>
                  <td>Actions</td>
                  <td>Actions</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of allData">
                  <td>{{i.disbId}}</td>
                  <td>{{i.name}}</td>
                  <td>{{i.address}}</td>
                  <td>{{i.loanNo}}</td>
                  <td>{{i.leadNo}}</td>
                  <td>{{i.loanAmount}}</td>
                  <td>{{i.rateOfInterest}}</td>
                  <td>{{i.tenure}}</td>
                  <td>{{i.emi}}</td>
                  <td>{{i.status}}</td>
                  <td><button class="btn btn-primary btn-block" (click)="generateLedger(i)">GenerateLedger</button></td>
                  <td><button class="btn btn-primary btn-block" (click)="viewLedger(i.loanNo)">ViewLedger</button></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>